.fixed-menu{
	position: fixed;
	margin: 0;
	margin-top: 15rem;
}
.fixed-menu .button{
	margin: 0;

	min-width: 15rem;
}
.fixed-menu li{
	list-style-type: none;
}
.background{
	height:  0;
}
.background img{
	opacity: 0.4;
	width: 100%;
	height: 70rem;
}
.button{
	background-color: white;
}